body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1c1f24; 
}

.mainСharacter {
  position: relative;
    width: 250px;
    height: 250px;
    border: none;
    background-image: url('./photo/default-pelmen.png');
    background-size: cover;
    background-position: center; 
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 2px #1c1f24;
     transition: transform 0.3s ease-out;
}
/* Счетчик */
.counter-container {
      display: flex;
      align-items: center;
      background-color: #ffffff; 
      border-radius: 10px; 
      padding: 5px; 
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .counter-container img {
      width: 50px; 
      height: auto;
      margin-right: -5px; 
      border-radius: 50%;
    }

    #Count {
      font-size: 30px;
      padding: 10px;
      color:rgb(0, 0, 0);
      background-color: #ffffff;
      border-radius: 10px;
      margin: 0;
    }
/*  */
.Pribil{
  font-size: 20px;
  color: #e0e0e0;
  border: #000000 solid 1px;
  text-align: center;
  height: 30px;
  width: 300px;
  background-color: #0000006d;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Тряска */
@keyframes pressAndMoveForward {
      0% {
        transform: scale(1) translateZ(0);
      }
      50% {
        transform: scale(0.9) translateZ(0); 
      }
      100% {
        transform: scale(1.1) translateZ(20px); 
      }
    }

    .press-move {
      animation: pressAndMoveForward 0.3s ease-out; 
    }
/* Анимация для плавного подъема и исчезновения чисел */
@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0; 
        transform: translateY(-100px); 
    }
}

.floating-number {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    pointer-events: none;
    transform: translateY(0);
    opacity: 1;
    animation: floatUp 1s ease-out forwards; 
}



/*  РАНГИ И УРОВНИ */
.rank-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.progress-bar {
  width: 130px;
  height: 25px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10px;
  border:2px solid black;
}

#progressFill {
  width: 0;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.534);
  transition: width 0.3s ease;
}

#rankLabel {
  background-color: #ff6363;
  border-radius: 5px;
  padding:5px ;
  font-weight: bold;
  font-size: 18px;
  
}
/* Улучшения */
.improvements-list {
      display: none; 
      border-radius: 8px;
      margin-top: 5px;
      background: #1c1f24;
    }
button{
   background: #101215;
   border:none;
   color:#ffffff;
   justify-content: center;
   text-align: center;
   font-size: 16px;
}
.improvments{
  background: #0000006d;
  color:aliceblue;
  border:#000000 solid 1px ;
  font-size: 20px;
  padding:5px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.improve_discriptions{
  font-size: 13px;
  color:#b7b6b6
}
.priceColor{
  font-size: 15px;
  color: #ff6363;
  text-shadow: rgb(100, 100, 100) 1px 0 10px;
}